body {
  background-image: url("background2.png");
  background-position: 100%;
}
main {
  margin: 20px 0px 30px;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-footer,
.Dictionary-Title {
  text-align: center;
  margin: 0px 0px 20px;
}
.App-logo {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}
.App a {
  text-decoration: none;
  color: #44558f;
}
.App a:hover {
  font-weight: bolder;
  transition: all 200ms ease-in-out;
}
