form {
  width: 60%;
  margin: 0 auto;
}
.Dictionary .btn-outline-secondary {
  background: white;
  border: white;
  box-shadow: none;
}
.Dictionary .btn-outline-secondary:hover {
  font-size: bold;
  color: black;
}
